# GitHub API Credentials
# Personal Access Token with repo scope
GITHUB_TOKEN=
GITHUB_OWNER=chyarogroup
GITHUB_REPO=GenSprout

# Modrinth API Credentials
MODRINTH_TOKEN=
MODRINTH_PROJECT_ID=

# Hangar (PaperMC) API Credentials
HANGAR_API_KEY=
HANGAR_AUTHOR=chyarogroup
HANGAR_SLUG=gensprout
